.-footer {
    width: 100%;
    margin-bottom: 0;
}

.-footer row {
    width: 100%;
}

.-footer div {
    /* display: inline-block; */
    /* margin: 0; */
    color: #ddd;
    /* text-align: center; margin-left: auto; margin-right: auto; */
    /*
     * so social icons aren't huge and to make the height consistent across the
     * footer (see .-footer-social-media-links img
     */
    height: 1.5em;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .-footer div {
        letter-spacing: 0.25em;
    }
}

.-footer-copyright {
    text-align: center;
    vertical-align: middle;
}

.-footer-social-media-links {
    text-align: right;
    height: 1.5em;
    margin-bottom: 1.15em;
}

.-footer-social-media-links img {
    height: 1.5em;
}
