nav {
    background-color: #1115;
    height: 5.5em;
}

nav > * {
    line-height: 5.5em;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
    color: #57a8ff;
    background-color: #4445;
}