html, #root, body {
  /* height: 100%; */
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #000;
  color: #ddd;
  font-family: 'Coda';
  font-size: 1.5em;
}

h1 {
  color: #eee;
}

hr {
  border: 3px solid #555;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

a {
    color: #8282ff;
}

a:hover {
    color: #aeaeff;
}

::selection {
  background: rgba(47, 30, 70, 100);
}

.-important {
    color: #e282ff;
}