html, #root, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000;
  color: #bbb;
  font-family: 'Coda';
  font-size: 1.5em;
}

h1 {
  color: #eee;
}

hr {
  border: 3px solid #555;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.-content {
  height: calc(100% - 5.5em);
}

::selection {
  background: rgba(47, 30, 70, 100);
}